@page "/todo"
@using System.Collections.Generic
@using appBlazor 

@rendermode InteractiveServer

<h3>TAREAS PENDIENTES (@todos.Count(todo => !todo.estaHecho))</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input @bind="todo.titulo" />
            <input type="checkbox" @bind="todo.estaHecho" />
        </li>
    }
</ul>

<input @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<appBlazor.TodoItem> todos = new();
    string newTodo = "";

    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new appBlazor.TodoItem { titulo = newTodo });
            newTodo = string.Empty;
        }
    }
}
